.divHeader{
    display: flex;
    width: 90%;
    height: 72px;
    border-radius:2rem;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    inset: 0% 5% auto;
    position: fixed;
    background-color:rgba(173, 207, 226, 0.63);
    border: 2px solid rgba(141, 212, 208, 0.329);
  }

.headerBox{
    width: 100%;
    height: 100%;
    align-content: center;
    justify-items: center;
}

.button{
    display: flex;
    background-color: rgba(241, 64, 64, 0.678);
    border-radius: 10px;
    width: 70%;
    height: 40px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 14;
}

.button:hover{
    background-color: rgba(241, 64, 64, 0.461);
}

p{
    font-weight: bold;
    font-size: 14;
}

.center{
    display: flex;
    align-items: center;
}

.svgCenter{
    width: 35%;
    height: 100%;
    align-content: center;
    justify-items: center;
    padding-left: 12px;
}

.homeCenter{
    width: 100%;
    height: 100%;
    justify-Items: center;
    align-Content: center;
}

.boxShadow{
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxShadow:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.356);
    border-radius: 10px;
    width: 60%;
    height: 35px;
}

.pointer{
    cursor: pointer;
}

.headerBoxInicio{
    width: 60%;
}